
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);

*{
  margin:0;
  padding:0;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #001429;
  color: #C2D6D6;
  font-size:1.7em;
}

h1 {
  margin:0;
}

h1, h3, dd {
  text-align:center;
}

h2 {
  font-size:1.5em;
  margin-bottom:1%;
  clear:both;
  text-align: center;
}

hr {
  margin-top:2%;
  margin-bottom:2%;
}

a {
  color:inherit;
  text-decoration: none;
}

ul {
  padding-left:2%;
  padding-right:2%;
  list-style: none;
  line-height: 1.5em;
}

.content {
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  margin: 0.5% 0;
  padding-bottom:1.5%;
  float: left;
  width:100%;
}

#logo {
  padding:1% 0;
  background-color:#000;
  color:#DCDDD8;
  border-bottom: 1px solid #354B5E;
}

#column-headers {
  padding-top:1.5%;
  padding-bottom:1.5%;
}

/*********************/
/* Column formatting */
/*********************/
.left_column, .right_column {
  width: 50%;
  float: left;
  padding: 0 20px;
  text-align: justify;
}


.left_column > h3, .right_column > h3 {
  padding:20px 10px 10px 10px;
  margin:0 10px;
  text-transform: uppercase;
}

.left_column {
  border-right: 1px solid #999;
  color: #F00;
}

.right_column {
  border-left: 1px solid #999;
  color: #F93;
  margin-left:-1px;
}

.description {
  margin:5% 0;
  font-style: italic;
  font-size: 1.1em;
  height:50%;
}

.left_column ul {
  text-align:right;
}

.left_column h4, .right_column h4 {
  text-align:center;
}

/*******************/
/* Code formatting */
/*******************/
pre.prettyprint {
  width:75%;

  margin:0 auto 7% auto;
  padding: 15px;

  border:1px solid white;
  color:white;
  background-color:#777;

  font-size:0.8em;
}
